body {
  background-color: #f79ebc;
  font-family: "Lexend", sans-serif;
  background-image: url(https://www.shutterstock.com/image-vector/cherry-ribbons-bow-coquette-girly-600nw-2445933013.jpg);
  background-repeat: repeat;
}

.container {
  background-color: #f79ebc;
  padding: 20px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border-radius: 5px;
  font-size: 15px;
  border: 2px solid #b61f24;
}

h1 {
  text-align: center;
  font-family: "Satisfy", cursive;
  font-size: 40px;
  color: white;
}

p {
  text-align: center;
}

.form {
  padding: 20px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-input {
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  color: black !important;
  border: 2px solid #b61f24;
  /*background-color: #cc5a5e;*/
}

.submit-input {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #b61f24;
  color: white;
  border: 2px solid white;
  font-weight: bold;
}

.books {
  padding: 20px;
  background-color: white;
  margin: 30px;
  border-left: 5px solid #b61f24;
  border-radius: 5px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding-top: 60px;
  font-size: 12px;
  text-align: center;
}

a {
  color: #b61f24;
  font-weight: bolder;
}
